[application]
MODEL_PATH = app/model/
CTRL_PATH = app/ctrl/
CORE_PATH = app/core/
MODULES_PATH = app/core/modules/
REACT_FILE = index.html
API_PATH = api
API_VERSION = v1
RELEASE = TRUE

[database]
DB_HOST = localhost
DB_USER =
DB_PASS =
DB_NAME =

[panel]
EXCHANGE_PANEL_HOST =
EXCHANGE_PANEL_API_PATH =
EXCHANGE_PANEL_API_HEADER =
EXCHANGE_PANEL_API_TOR_PROXY =

[blockchain]
BLOCKCHAIN_API_HOST =
BLOCKCHAIN_API_KEY =
BLOCKCHAIN_API_XPUB =
